
.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.resultsWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0 0 0;
    width: 100%;
}

.resultItem {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    width: auto;
}

.resultNumbers {
    display: flex;
}

.number {
    border: 1px solid hsl(240, 6%, 48%);
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.resultLights {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%
}

@-webkit-keyframes flashing {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
}
  
  @keyframes flashing {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
}

.green,
.yellow,
.red {
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

.green {
    background-color: hsl(118, 93%, 36%);
    box-shadow: black 0 -1px 7px 1px, inset hsl(80, 100%, 20%) 0 -1px 9px, hsl(80, 100%, 43%) 0 2px 12px;
}

.yellow {
    background-color: hsl(60, 80%, 49%);
    box-shadow: black 0 -1px 7px 1px, inset hsl(60, 100%, 20%) 0 -1px 9px, hsl(60, 100%, 43%) 0 2px 12px;
}

.red {
    background-color: hsl(0, 100%, 50%);
    box-shadow: black 0 -1px 7px 1px, inset hsl(0, 100%, 20%) 0 -1px 9px, hsl(0, 100%, 43%) 0 2px 12px;
    -webkit-animation-name: flashing;
          animation-name: flashing;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {

    .wrapper {
        
    }

    .resultsWrapper {
      max-width: 1600px;
      padding: 5rem 2rem 0 2rem;
    }

    .resultItem {
      flex-direction: row;
      gap: 0;
      justify-content: center;
      padding: 3rem 6rem;
      width: 100%;
    }

    .resultNumbers {
      gap: 0.5rem;
    }

    .number {
      font-size: 1.4rem;
      padding: 0.75rem 1.5rem;
    }
    
    .resultLights {
      gap: 5%;
      justify-content: flex-end;
      width: 50%
    }

    .green,
    .yellow,
    .red {
        height: 22px;
        width: 22px;
    }

    .resultText {
        
    }

}